h1{
    color:red;
}
h2{
    color:aqua;
}

/* This is single-line comment */
p{
    color:blue;
}

p{
    color:green; /* set color to  green */
}

.tomato{
     background-color:tomato;
}
.orange{
    background-color:orange;
}
.dodgerblue{
    background-color:dodgerblue;
}
.mediumseagreen{
    background-color: mediumseagreen;
}
.gray{
    background-color:gray;
}
.slateblue{
    background-color: slateblue;
}
.violet{
    background-color:violet;
}
.slategray{
    background-color:slategray;
}

    

